<header id="header">
    <div class="container flex items-center py-4 xl:py-8">
        <div>
            <a href="/" class="block text-4xl font-bold uppercase leading-none"
                >НЕФТЕ<span class="text-primary">ПРОМ</span>СИСТЕМА</a
            >
            <div class="text-secondary text-xl uppercase">нефтяная платформа</div>
        </div>
        <div class="ml-auto space-y-2">
            <div class="flex items-center gap-2">
                <a href="tel:+79186200632" class="text-xl">+7 (918) <span class="font-bold">620-06-32</span></a>
                <a href="#">
                    <svg class="icon-wa size-7">
                        <use href="#icon-wa"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon-telegram size-7">
                        <use href="#icon-telegram"></use>
                    </svg>
                </a>
            </div>
            <div class="flex items-center gap-2">
                <a href="tel:+79186200632" class="text-xl">+7 (918) <span class="font-bold">620-06-32</span></a>
                <a href="#">
                    <svg class="icon-wa size-7">
                        <use href="#icon-wa"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon-telegram size-7">
                        <use href="#icon-telegram"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="ml-12 flex flex-col items-center gap-3">
            <a href="#" class="btn btn-primary">Заказать звонок</a>
            <a href="mailto:info@tdnps.ru" class="text-xl text-primary">info@tdnps.ru</a>
        </div>
    </div>
</header>
<nav class="bg-body">
    <div class="container">
        <ul class="main-menu">
            <li class="current"><a href="#">Главная</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Продукция</a></li>
            <li><a href="#">Сертификаты</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</nav>
