@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    body {
        font-family: 'Roboto', system-ui;
        font-weight: 400;
        font-style: normal;
    }
}

.bg-body {
    background: url('$img/bg-body.png') repeat-y center #000;
}

@layer components {
    .btn {
        @apply inline-flex justify-center px-8 py-4 text-xl leading-none;

        &.btn-primary {
            @apply bg-primary text-white;

            &:hover {
                @apply bg-[#3d78f0];
            }
        }

        &.btn-big {
            @apply px-16 py-6 text-2xl;
            filter: drop-shadow(11px 10px 8px rgba(24, 83, 202, 0.38));
        }
    }

    .main-menu {
        @apply flex flex-col justify-between xl:flex-row;

        li {
            @apply flex-auto;

            a {
                @apply block py-4 text-center text-xl text-white xl:py-9;
            }
        }
    }

    .title {
        @apply mb-4 text-4xl font-bold uppercase xl:mb-8;
    }

    .product-main {
        figure {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                filter: grayscale(100%);
                object-fit: cover;
            }

            figcaption {
                position: absolute;
                bottom: 0;
                left: 0;
                color: #fff;
                z-index: 10;
                display: flex;
                align-items: center;
                padding: 0 2rem;
                height: 65px;

                span {
                    position: relative;
                    z-index: 1;
                    font-size: 1.125rem;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 11px;
                    height: 65px;
                    background-color: #1853ca;
                    transition: 0.3s all;
                }
            }

            &:after {
                content: '';
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.5);
                transition: 0.3s all;
                opacity: 1;
            }
        }

        &:hover {
            figure {
                img {
                    filter: grayscale(0%);
                }

                figcaption {
                    &:after {
                        width: 100%;
                    }
                }

                &:after {
                    opacity: 0;
                }
            }
        }
    }

    .form-input,
    .form-textarea {
        @apply border-0 px-6 py-5 leading-none text-black;
    }
}

.splide__pagination {
    @apply gap-4 xl:gap-8;
    margin-top: 1rem !important;

    @media screen(md) {
        margin-top: 2rem !important;
    }

    li {
        @apply h-[3px];
        vertical-align: top;

        button {
            @apply h-[2px] w-[40px] bg-[#332f2f] xl:h-[3px] xl:w-[76px];
            vertical-align: top;

            &.is-active {
                @apply bg-white;
            }
        }
    }
}

.splide__arrows {
    @apply absolute top-1/2 z-10 -translate-y-1/2;

    .splide__arrow {
        svg {
            @apply h-20 w-12;
        }
    }
}

.prose {
    h1,
    h2,
    h3 {
        font-size: 35px;
        font-weight: bold;
    }

    h2,
    h3 {
        font-size: 24px;
    }

    a.btn {
        text-decoration: none;
    }

    ul {
        list-style: square;

        li::marker {
            color: theme('colors.primary');
        }
    }

    p {
        margin-top: 0;
    }

    ol {
        list-style: none;
        padding: 0;
        counter-set: list;

        li {
            @apply relative pl-12;

            &:before {
                counter-increment: list;
                content: counter(list);
                position: absolute;
                left: 0;
                top: 0;
                background: theme('colors.primary');
                width: 30px;
                height: 30px;
                color: #fff;
                text-align: center;
                font-size: 0.875rem;
                line-height: 32px;
                border-radius: 50%;
            }
        }
    }

    img {
        margin: 0;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 8px;

        thead {
            th {
                text-align: left;
                font-weight: 500;
                padding: 1.25rem 2rem;
                background-color: #d3ddf2;
            }
        }

        tbody {
            tr {
                td {
                    font-weight: 500;
                    padding: 1.25rem 2rem;
                    background-color: #f5f8ff;
                }
            }
        }
    }
}

.fancybox__content > .f-button.is-close-btn {
    top: 1rem !important;
    right: 1rem !important;
    width: 22px;
    height: 22px;

    svg {
        fill: #000 !important;
        stroke: #000 !important;
    }
}
